.side-nav {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.side-nav a:visited {
  color: whitesmoke;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  font-size: 36px;
}
